.App {
  display: inline-block, flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 500px;
  height: 620px;
  border:1px solid black;
  align-items: center;
  margin: 0 10px;
}

.Homepage {
  columns: 2;
  display: inline-block;
  width: 499px;
  height: 619px;
  background: rgb(232, 205, 4);
}

.Header {
  display: inline-block;
  width: 249px;
  height: 74px;
  background: rgb(255, 255, 255);
  border:1px solid rgb(4, 64, 245);
  font-size: small;
  text-align: center;
    }
.Header1 {
  display: inline-block;
  width: 236px;
  height: 74px;
  background: rgb(255, 255, 255);
  border:1px solid rgb(4, 64, 245);
  font-size: small;
  text-align: center;
  }
   
.SearchBar {
  display: inline-block;
  width: 249px;
  height: 74px;
  background: rgb(255, 255, 255);
  border:1px solid rgb(56, 245, 4);
  font-size: small;
  text-align: center;
    }

.SearchBar input[type=text] {
      float: right;
      padding: 4px;
      margin-top: 25px;
      margin-right: 16px;
      border: none;
      font-size: 17px;
    }

.EmployeeListItem 
{
  display: inline-block;
  width: 249px;
  height: 74px;
  background: rgb(255, 255, 255);
  border:1px solid rgb(245, 4, 4);
  font-size: small;
  text-align: center;
    }

.EmployeePage
{
  display: inline-block;
  width: 238px;
  height: 612px;
  background: rgb(255, 255, 255);
  border:1px solid rgb(9, 9, 9);
  font-size: small;
  text-align: center;
    }