.container > div {
  display: flex;
  background: var(--yankees-blue);
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 60vh;
  align-items: flex-start;
  }
  
  .board {
  flex-basis: 60%;
  display: grid;
  grid-template-columns: 15vw 15vw 15vw;
  grid-template-rows: 15vw 15vw 15vw;
  color: white;
  justify-items: stretch;
  justify-content: center;
  }
  
  .board  div {
  display: flex;
  align-items: center;
  border: 3px solid var(--react);
  }
